body {
  padding: 0;
  margin: 0;
  background-color: #c0c0c0;
}

.nav-panel {
  background-color: #333;
  overflow: hidden;
}

.nav-panel ul {
  margin-left: auto;
  margin-top: auto;
  list-style: none;
  padding-top: 15px;
  text-align: center;
}

.nav-panel .header {
  color: #ff0000;
}

.nav-panel span {
  color: white;
}

.nav-panel button {
  font-size: 14px;
}

.nav-panel form {
  display: inline;
}

.nav-panel li {
  margin-right: 45px;
  color: red;
  display: inline;
  font-size: 20px;
}

.nav-panel a {
  color: #fff;
  text-decoration: none;
}


.search {
  margin: auto;
  width: 70%;
}

.search input {
  width: 50%;
  font-size: 20px;
}


#blogs {
  padding: 20px;
  background-color: lightgrey;
  margin: auto;
  width: 70%;
  box-sizing: border-box;
}

#blogs p {
  border-top: 2px solid grey;
}

.tags {
  border-bottom: 2px solid grey;
  padding-bottom: 5px;
  white-space: normal;
}

.tag {
  font-size: 18px;
  background-color: #333;
  display: inline;
  padding: 3px;
}

.tag a {
  color: red;
  text-decoration: none;
}


.index-blog-header {
  font-size: 20px;
}


#manage-blog-header {
  font-size: 24px;
}

#manage-blog-header p {
  display: inline;
}

#manage-blog-header form {
  display: inline;
  margin-left: 100px;
}

#manage-blog-header button {
  background-color: #333;
  color: white;
  font-size: 18px;
  border: 1px solid red;
}


.blog-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.blog-text{
  font-size: 18px;
  max-width: 80%;
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.blog-text p {
  color: green;
  font-size: 22px;
  display: inline;
}


.comments {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 18px;
}

.comments h2 {
  text-align: center;
  margin-top: 150px;
}

.comments p {
  font-size: 20px;
}

#comment-author {
  font-size: 20px;
  display: inline;
}

#comment-date {
  display: inline;
  font-size: 11px;
}

.comments pre {
  white-space: pre-wrap;
}

.comments textarea {
  min-width: 95%;
  max-width: 95%;
  min-height: 85px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 22px;
  overflow-y: scroll;
}

.comments button {
  height: 45px;
  margin-left: 30px;
  display: block;
  color: red;
  font-size: 18px;
  background-color: #333;
  border: none;
}


.center-container {
  width: 30%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 9%;
}

.center-container h1 {
  text-align: center;
}

.register-container {
  background-color: grey;
}

.login-container {
  background-color: orange;
}

.cred-form {
  padding: 20px 20px 0px 20px;
}


.cb-center-container {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  box-sizing: border-box;
}

.mod-blog textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 22px;
  overflow-y: scroll;
}

.fg-mod-blog button {
  height: 50px;
  width: 110px;
  display: inline;

  background-color: white;
  color: red;
  border: none;
  margin-top: 10px;
}

.fg-mod-blog input {
  padding: 8px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 22px;
  margin-bottom: 2%;
}

.fg-mod-blog label {
  font-size: 20px;
  display: block;
}


/* Form group*/
.fg {
  padding-bottom: 20px;
}

.fg label {
  color: white;
  font-size: 20px;
  display: block;
}

.fg input {
  padding: 8px;
  width: 90%;
  display: block;
}

.fg p {
  display: inline;
}

.fg #dark {
  color: darkred;
}

.fg button {
  margin-left: 10%;
  background-color: white;
  height: 50px;
  width: 110px;
  display: inline;
}


/* Little-red */
.lr {
  font-size: 18px;
  background-color: red;
  color: white;
}


.inline {
  display: inline;
}

.btn1 {
  color: red;
  font-size: 18px;
  background-color: #333;
  border: none;
}
